 
	 	{
			box-sizing: border-box; 
		}
		body {
		  display: flex;
		  min-height: 100vh;
		  flex-direction: column;
		  margin: 0;
		}
		#main {
		  display: flex;
		  flex: 1;
		}
		#main > article {
		  flex: 1;
		}
		#main > nav, 
		#main > aside {
		  flex: 0 0 15vw;
		  background: black;
		}
		#main > nav {
		  order: -1;
		  background: black;
          
		}
		footer {
		  background-color: #DCDCDC;
          color: black; 
		  height: 5vh;
          
            
		}
    	header {
		  background: #DCDCDC;
		  height: 20vh;
         }
        
        
		header, footer, nav, aside {
		  padding: 1em;
		}
/*classes-------------------------------------------------------------------*/
    .cabecalho{
        
    }
    .central{
       width="836.4px"; 
       height="599.2px";
        
    }
    .navegacao{
        font-family: Courier New;
        font-size: 14;
        font-weight: bold;
        color: #DCDCDC;
        
        
    }
    ul {
        list-style: square;
        
    }
    .sinopse{
        font-family: Courier New;
        font-size: 14;
        font-weight: bold;
        color: #DCDCDC
    }
    .rodape{
        font-family: Courier New;
        font-size: 12;
        font-weight: bold;
        background-color: #DCDCDC;
        color: black;
            
    }